@font-face {
    font-family: "oregano";
    src: url(../fonts/oregano/Oregano-Regular.ttf);
}

@font-face {
    font-family: "open-sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

* {
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    touch-action: manipulation !important;
    color: #2ACD35;
}